@import "../partials/fonts";
@import "../partials/mixins";
@import "../partials/variables";

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  border-block: 1px solid rgba(0, 0, 0, 0.4);
  // width: 50%;
  margin-bottom: 80px;

  .details-section {
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .image-section {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 15px;

      .product-image {
        width: 100%;
        height: 175px;
        object-fit: cover;
        background-color: #f3f5f6;
      }

      .view-details-link {
        font-size: 12px;
        font-weight: 400;
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.7);
        transition: all ease-in-out 0.3s;

        span {
          color: $gold;
          font-weight: 600;
        }

        &:hover {
          color: rgba(0, 0, 0, 1);
        }
      }
    }

    .product-description {
      width: 60%;

      h1 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 13px;
      }

      p {
        font-size: 12px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .buttons-section {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    
  }
}

@media (max-width: $tablet) {
  .cart-item {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;

    .details-section {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      .image-section {
        width: 30%;
        margin-inline: 10px;

        .product-image {
          width: 100%;
          height: 140px;
        }
      }

      .product-description {
        width: 57%;
        margin-bottom: 20px;
        h1 {
          margin-bottom: 10px;
        }
      }
    }

    .buttons-section {
      width: 100%;
      justify-content: space-evenly;
    }
  }
}
