.container {
  padding-top: 70px;
  min-height: 80vh;
}
.FormContainer {
  padding-top: 20px;
}
.summary {
  // background-color: rgb(238, 238, 230);
  padding: 60px;
  // padding-top: 30px;
  min-height: 90vh;
}
